nav {
  display: flex;
  align-items: center;
  background-color: #f0f1f5;
  padding: 30px 25px;
}

.nav--text, .nav--title {
  margin: 0;
}

.nav--title {
  margin-right: auto;
}

.nav--text {
  margin-left: 20px;
}